#goBack {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}

#goBack:hover {
    cursor: grab;
}

#background {
    background-color: #B9E7EF;
    width: 305px;
    height: 720px;
    border: solid 2px #2DA6A4;
    border-radius:  20px;
    padding: 20px;
    margin-left: 480px;
    margin-top: 25px;
}

#home_screen {
    border: 3px solid #2DA6A4;
    margin-top: 25px;
    background-color: #E0EEEE;
}

legend {
    background-color: #fff;
    color: #2DA6A4;
    border-radius: 10px;
    border: solid 3px #2DA6A4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
    width: 170px;
    position: relative;
    left: 60px;
    margin-top: -18px;
}

fieldset {
    border: transparent;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:#2DA6A4;
    font-weight: bold;
}

input {
    background-color: #fff;
    border: groove;
    border-radius: 8px;
}

input:focus { /* Retira a borda ao clicar na caixa do input */
    box-shadow: 0 0 0 0;
    outline: 0;
}

.information2 {
    padding-left: 15px;
    text-decoration: none;
}

#date_nas {
    background-color: #fff;
    border-radius: 8px;
}

input#submit {
    margin-bottom: 10px;
    position: relative;
    color: #fff;
    width: 250px;
    height: 40px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #2DA6A4;
    background-color: #2DA6A4;
    left: 25px;
}

input#submit:hover {
    cursor: pointer;
    border-color: #000;
    font-weight: lighter;
}