p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding-left: 30px;
}

li.anuncio {
    margin-top: 20px;
    display: block;
    float: left;
}

li.anuncio a {
    text-decoration: none;
}

li.anuncio img {
    width: 250px;
    height: 290px;
    border-radius: 8px;
}
figure {
    border: solid 1px #000;
    border-radius: 8px;
    background-color: #CAE0DD;
}

figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
}